<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project Tatars</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


</head>
<body>

<div class="container">

  {% if current_user %}
  <div>
    <p><strong>Current user:</strong></p>
    <span>{{ current_user.display_name }}</span>
    <p><a href="/logout">Logout</a></p>
  </div>

  {% else %}

  <div class="register-form">
    <form id="register-connect" action="/connect" method="post" accept-charset="utf-8"
          enctype="application/x-www-form-urlencoded">
      <div class="mb-3">
        <label for="register-username" class="form-label">Username</label>
        <input type="text" class="form-control" id="register-username" name="username" placeholder="">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {% endif %}
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>
